$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#background-image {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
 }

@media screen and (max-width: 500px) { /* Specific to this particular image */
#background-image {
  left: 50%;
  margin-left: -280px;   /* 50% */
  }
}

// TITLE
.title p {
    display: inline-block;
    margin-top: 200px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 130px;
    font-weight: 800;
    // color: rgb(247, 73, 4);
    opacity: 0.6;
    text-shadow: -2px 2px 2px black;
}

#first-title {
    color: rgb(247, 73, 4);
}
 #second-title {
    color: rgb(24, 54, 76);
}

.tagline p {
    display: inline-block;
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    opacity: 0.6;
    margin-top: -42px;
}

// TITLE RESPONSIVE

@media(max-width: 1200px) {
    .title p {
        font-size: 100px;
    }

    .tagline p {
        font-size: 38px;
    }
}

@media(max-width: 1000px) {
    .title p {
        font-size: 70px;
    }

    .tagline p {
        font-size: 28px;
    }
}

@media(max-width: 700px) {
    .title p {
        font-size: 54px;
    }

    .tagline p {
        font-size: 22px;
    }
}

@media(max-width: 580px) {
    .title p {
        display: block;
    }

    #first-title {
        margin-top: 100px;
    }

    #second-title {
        margin-top: -40px;
    }

    .tagline {
        margin-top: 60px;
    }
}

// MEET US

.meet-us {
    height: 560px;
    background-color: rgb(94, 110, 108);
    margin-top: 400px;

    img {
        width: 150px;
    }

    h1 {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 66px;
        color: rgb(234, 127, 69);
        font-weight: 400;
        text-shadow: 1px 1px 1px rgb(69, 58, 67);
    }

    h2 {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 40px;
        color: rgb(234, 127, 69);
        font-weight: 400;
        text-shadow: 1px 1px 1px rgb(69, 58, 67);
    }

    p {
        text-align: left;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
        font-weight: 300;
        color: white; 
    }
}

@media(max-width: 1000px) {
    .meet-us {
        margin-top: 240px;
    }
    .meet-us img {
        margin-top: 28px;
    }

    .meet-us p {
        max-width: 680px;
        margin: 0 auto;
    }
}

@media(max-width: 1100px) {
    .meet-us {
        height: 620px;
    }
}

@media(max-width: 1000px) {
    .meet-us {
        height: 100%;
    }
}

@media(max-width: 500px) {
    .meet-us p {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

// CONNECT WITH US

.connect-with-us {
    height: 100%;
    background-color: rgb(234, 127, 69);
    opacity: 0.7;

    h1 {
        font-family: 'Alegreya Sans SC', sans-serif;
        font-size: 66px;
        color: black;
        font-weight: 400;
        text-shadow: 1px 1px 1px rgb(69, 58, 67); 
    }
}

.social-icons ul > li {
    list-style-type: none;
    display: inline-block;
    padding: 0 40px;
}   

.social-icons ul > li > img {
    width: 60px;
    padding-bottom: 6px;
}

.social-icons ul > li:hover{
    background-color: rgb(94, 110, 108);
    border-radius: 50%;
}

.legal-stuff {
    margin-top: 20px;
    a {
        color: rgb(155, 52, 52);
    }
}

@media (max-width: 480px) {
    .connect-with-us {
        margin-top: -10px;
    }

    .connect-with-us h1 {
        margin-top: 10px;
        font-size: 38px;
        margin-left: 8px;
    }

    .social-icons ul {
        margin-left: -22px;
    }

    .social-icons ul > li {
        padding: 8px;

        img {
            width: 26px;
        }
    }

    .legal-stuff {
        font-size: 10px;
    }

}